body{
    font-size: 30px;
    font-family: Verdana;
    background-color: cornflowerblue;
    margin: 10px 25px 0px 25px;
    padding: 70px;
    color: whitesmoke;
    text-align: justify;
}
body.margin{
    background-color: white;
}
.titulo_e_sub{
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    border: 5px dotted;
    border-radius: 20px;
    text-align: center;
    margin: 0px 530px 0px 0px;
}
nav a{
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
a{
    text-shadow: 4px wheat;
    transition: background-color 0.5s;
    transition: font-size 0.5s;
    padding: 10px;
    text-decoration: none;
}
.navbar a:hover{
    font-size: 2.5rem;
}
img{
    border-radius: 20px;
}
figure img{
    border-radius: 20px;
    width: 800px;
    height: 400px;
}
figure figcaption{
    position: relative;
}
.whatsapp-link{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px gray;
    z-index: 1000;
}
    .fa-whatsapp{
    margin-top: 16px;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black; /* Cor de fundo da barra */
    color: white; /* Cor do texto na barra */
    padding: 20px 0;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
p{
    text-indent: 50px;
}
.navbar li{
     margin-right: 20px;
}

.navbar a{
     text-decoration: none;
      color: white;
}
.sis_op{
    position: relative;
    width: 50%;
}
.sis_img{
    display: block;
    width: 100%;
    height: auto;
}
.leg_op{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    color: #f1f1f1; /* Cor do texto */
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.sis_op:hover .leg_op {
    opacity: 1;
}